@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url("../i/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

/* ~~~~~~~~~~~~ Главная ~~~~~~~~~~~~ */
.page-nav {
  position: sticky;
  top: 2px;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  color: #000000;
  z-index: 10;
}

.page-nav .page-nav__day {
  flex-basis: calc(100% / 8);
  font-size: 1.2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  text-decoration: none;
  color: #000000;
}

.page-nav .page-nav__day+.page-nav__day {
  margin-left: 1px;
}

.page-nav .page-nav__day .page-nav__day-week::after {
  content: ',';
}

.page-nav .page-nav__day .page-nav__day-number::before {
  content: ' ';
}

.page-nav .page-nav__day .page-nav__day-week,
.page-nav .page-nav__day .page-nav__day-number {
  display: block;
}

.page-nav .page-nav__day_chosen {
  flex-grow: 1;
  background-color: #FFFFFF;
  font-weight: 700;
  transform: scale(1.1);
}

.page-nav .page-nav__day_weekend {
  color: #DE2121;
}

.page-nav .page-nav__day_next {
  text-align: center;
}

.page-nav .page-nav__day_next::before {
  content: '>';
  font-family: monospace;
  font-weight: 700;
  font-size: 2.4rem;
}

.page-nav .page-nav__day_today .page-nav__day-week::before {
  content: 'Сегодня';
  display: block;
}

.page-nav .page-nav__day_today .page-nav__day-week,
.page-nav .page-nav__day_today .page-nav__day-number {
  display: inline;
}

.movie {
  position: relative;
  padding: 1.5rem;
  margin-top: 3rem;
  background: rgba(241, 235, 230, 0.95);
  color: #000000;
}

.movie .movie__info {
  display: flex;
}

.movie .movie__poster {
  position: relative;
  width: 12.5rem;
  height: 17.5rem;
  /*    left: 1.5rem;
      top: -1.5rem;*/
}

.movie .movie__poster .movie__poster-image {
  position: relative;
  top: -3rem;
  width: 12.5rem;
  height: 17.5rem;
}

.movie .movie__poster::after {
  content: '';
  display: block;
  position: absolute;
  right: -0.7rem;
  top: -3rem;
  border: 1.5rem solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 0 solid transparent;
  border-left: 0.7rem solid #772720;
}

.movie .movie__description {
  flex-grow: 1;
  padding-left: 1.5rem;
}

.movie .movie__title {
  font-weight: 700;
  font-size: 1.6rem;
}

.movie .movie__synopsis {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.movie .movie__data {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1rem;
}

.movie .movie-seances__hall+.movie-seances__hall {
  margin-top: 2rem;
}

.movie .movie-seances__hall .movie-seances__hall-title {
  font-weight: 700;
  font-size: 1.6rem;
}

.movie .movie-seances__hall .movie-seances__list {
  margin-top: 0.7rem;
  font-size: 0;
}

.movie .movie-seances__hall .movie-seances__time-block {
  display: inline-block;
  margin-bottom: 4px;
}

.movie .movie-seances__hall .movie-seances__time-block:nth-last-of-type(n + 1) {
  margin-right: 4px;
}

.movie .movie-seances__hall .movie-seances__time {
  display: block;
  padding: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
}

/* ~~~~~~~~~~~~ Кинозал ~~~~~~~~~~~~ */
.acceptin-button {
  display: block;
  margin: 3rem auto 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  border: none;
  padding: 12px 57px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #16A6AF;
  color: #FFFFFF;
}

.buying {
  background-color: rgba(241, 235, 230, 0.95);
  padding-bottom: 3rem;
  width: min(92%, 720px);
  margin: 0 auto 3rem;
}

.buying__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.buying__info .buying__info-description {
  padding-right: 1.5rem;
}

.buying__info .buying__info-title,
.buying__info .buying__info-hall {
  font-size: 1.6rem;
  font-weight: 700;
}

.buying__info .buying__info-start {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0.7rem 0;
}

.buying__info .buying__info-hint {
  position: relative;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
}

.buying__info .buying__info-hint p {
  position: relative;
  width: 10rem;
}

.buying__info .buying__info-hint p::before {
  content: '';
  position: absolute;
  left: -1rem;
  top: calc(50% - 1.6rem);
  display: block;
  width: 2.4rem;
  height: 3.2rem;
  background-image: url(../i/hint.png);
  background-size: 2.4rem 3.2rem;
}

.buying-scheme {
  text-align: center;
  background-color: #171D24;
  padding: 1.5rem 2.4rem 1.5rem;
}

.buying-scheme__wrapper {
  font-size: 0;
  display: inline-block;
  background-image: url(../i/screen.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 2.3rem;
}

.buying-scheme__wrapper::before {
  content: '';
}

.buying-scheme__row+.buying-scheme__row {
  margin-top: 4px;
}

.buying-scheme__chair {
  display: inline-block;
  vertical-align: middle;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #525252;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.15rem;
}

.buying-scheme__chair:not(:first-of-type) {
  margin-left: 3.5px;
}

.buying-scheme__chair_disabled {
  opacity: 0;
}

.buying-scheme__chair_standart {
  background-color: #FFFFFF;
}

.buying-scheme__chair_taken {
  background-color: transparent;
}

.buying-scheme__chair_vip {
  background-color: #F9953A;
}

.buying-scheme__chair_selected {
  background-color: #25C4CE;
  box-shadow: 0px 0px 4px #16A6AF;
  transform: scale(1.2);
}

.buying-scheme__legend {
  padding-top: 2.4rem;
  font-size: 1.3rem;
  font-weight: 300;
  color: #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: left;
  gap: 2rem;
}

.buying-scheme__legend .col {
  margin: 0;
}

.buying-scheme__legend .buying-scheme__legend-price+.buying-scheme__legend-price {
  margin-top: 1rem;
}

/* ~~~~~~~~~~~~ Билет ~~~~~~~~~~~~ */
.tichet__check,
.ticket__info-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(241, 235, 230, 0.95);
}

.tichet__check {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.tichet__check::before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(../i/border-top.png);
  background-size: 10px 3px;
}

.tichet__check::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(../i/border-bottom.png);
  background-size: 10px 3px;
}

.ticket__info-wrapper {
  position: relative;
  margin-top: 6px;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.ticket__info-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(../i/border-top.png);
  background-size: 10px 3px;
}

.ticket__info-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(../i/border-bottom.png);
  background-size: 10px 3px;
}

.ticket__check-title {
  font-weight: 700;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #C76F00;
}

.ticket__info {
  font-size: 1.6rem;
  color: #000000;
}

.ticket__info+.ticket__info {
  margin-top: 1rem;
}

.ticket__details {
  font-weight: 700;
}

.ticket__hint {
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 3rem;
}

.ticket__hint+.ticket__hint {
  margin-top: 1rem;
}

.ticket__info-qr {
  display: block;
  margin: 3rem auto 0;
  width: 20rem;
  height: 20rem;
}

@media screen and (min-width: 479px) {
  .page-nav .page-nav__day {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 990px) {

  .page-header,
  nav,
  main {
    width: 990px;
    margin: auto;
  }

  .movie,
  .buying {
    border-radius: 2px;
  }

  .buying__info-hint {
    display: none;
  }
}

@media (max-width: 990px) {
  .buying__info .buying__info-start {
    font-size: 1.2rem;
  }

  .buying {
    padding-bottom: 2.4rem;
    width: min(94%, 620px);
  }

  .buying-scheme {
    padding: 1.25rem 1.5rem 1.5rem;
  }

  .buying-scheme__wrapper {
    padding-top: 2.4rem;
  }

  .buying-scheme__chair {
    width: 1.75rem;
    height: 1.75rem;
  }

  .buying-scheme__legend {
    padding-top: 2.2rem;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    text-align: center;
  }

  .buying-scheme__legend .col {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .buying {
    padding-bottom: 2rem;
    width: min(96%, 520px);
  }

  .buying-scheme {
    padding: 1rem 1.1rem 1.2rem;
  }

  .buying-scheme__wrapper {
    padding-top: 2.1rem;
  }

  .buying-scheme__chair {
    width: 1.55rem;
    height: 1.55rem;
    font-size: 1.05rem;
  }

  .buying-scheme__chair:not(:first-of-type) {
    margin-left: 2.5px;
  }
}

@media (max-width: 400px) {
  .buying__info {
    padding: 1.1rem 1.2rem 0.75rem;
  }

  .buying {
    width: 100%;
  }

  .buying-scheme {
    padding: 0.9rem 0.95rem 1.05rem;
  }

  .buying-scheme__wrapper {
    padding-top: 2.05rem;
  }

  .buying-scheme__chair {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.05rem;
  }

  .buying-scheme__chair:not(:first-of-type) {
    margin-left: 2.4px;
  }
}

@media (max-width: 378px) {
  .buying-scheme {
    padding: 0.82rem 0.78rem 0.95rem;
  }

  .buying-scheme__wrapper {
    padding-top: 1.95rem;
  }

  .buying-scheme__chair {
    width: 1.35rem;
    height: 1.35rem;
    font-size: 0.98rem;
  }

  .buying-scheme__chair:not(:first-of-type) {
    margin-left: 1.9px;
  }

  .buying__info-title,
  .buying__info-hall {
    font-size: 1.4rem;
  }
}

@media (max-width: 366px) {
  .buying-scheme {
    padding: 0.68rem 0.62rem 0.82rem;
  }

  .buying-scheme__wrapper {
    padding-top: 1.78rem;
  }

  .buying-scheme__chair {
    width: 1.16rem;
    height: 1.16rem;
    font-size: 0.86rem;
  }

  .buying-scheme__chair:not(:first-of-type) {
    margin-left: 1.3px;
  }

  .buying__info-title,
  .buying__info-hall {
    font-size: 1.3rem;
  }
}

@media (max-width: 356px) {
  .buying-scheme {
    padding: 0.63rem 0.58rem 0.78rem;
  }

  .buying-scheme__wrapper {
    padding-top: 1.73rem;
  }

  .buying-scheme__chair {
    width: 1.12rem;
    height: 1.12rem;
    font-size: 0.84rem;
  }

  .buying-scheme__chair:not(:first-of-type) {
    margin-left: 1.15px;
  }

  .buying__info-title,
  .buying__info-hall {
    font-size: 1.25rem;
  }
}

@media (max-width: 344px) {
  .buying {
    padding-bottom: 1.6rem;
  }

  .buying-scheme {
    padding: 0.58rem 0.52rem 0.72rem;
  }

  .buying-scheme__wrapper {
    padding-top: 1.68rem;
  }

  .buying-scheme__chair {
    width: 1.05rem;
    height: 1.05rem;
    font-size: 0.8rem;
  }

  .buying-scheme__chair:not(:first-of-type) {
    margin-left: 1px;
  }

  .buying__info-title,
  .buying__info-hall {
    font-size: 1.2rem;
  }

  .buying-scheme__legend {
    gap: 1rem;
  }
}