* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

/* Базовые стили body - переопределяются в Layout */
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0 1.4rem;
  /* если нужно для мобильной ширины */
}

@media screen and (min-width: 990px) {

  .page-header,
  nav,
  main {
    width: 990px;
    margin: auto;
  }
}